{
  "defaultLocale": "en",
  "defaultMode": "dark",
  "defaultTheme": "klipper",
  "hostname": null,
  "port": null,
  "path": null,
  "instancesDB": "json",
  "instances": [
{% for printer in printers %}
    {
      "name": "{{ printer.name }}",
      "hostname": null,
      "port": 80,
      "path": "/{{ printer.name }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ]
}
